In [ ]:
Maple Leaves Ltd is a start-up company which makes herbs from different types of plants and its leaves. 
Currently the system they use to classify the trees which they import in a batch is quite manual. 
A labourer from his experience decides the leaf type and subtype of plant family. 
They have asked us to automate this process and remove any manual intervention from this process.

Objective: To classify the plant leaves by various classifiers from different metrics of the leaves 
    and to choose the best classifier for future reference.

Implementation:
1) Import the train and test csv.
2) Import the required classification libraries along with pandas, numpy, seaborn etc
3) Then import the classifiers from them (Randomforest, SVM, NaiveBayes,
DecisionTrees)
4) After this create a function to encode the labels of the strings given in the dataset
5) You can do the above step using label encoder. With this you are creating some labels
from train set as test set. The test set we imported is for testing the best classifier
accuracy once we choose it
6) Then extract the values from train set by stratifying them and dividing it into 80:20
ratio
7) Now your X train, X test, Y train, Y test are ready.
8) We currently don’t know which is the best classifier on the dataset. So, we apply all 4
of them.
9) Create the classifiers class and initialize all the respective classifiers
10) Then run the X train & X test datasets through classifiers calculating the log loss and accuracy of the result
11) Choose the classifier which has the best accuracy
12) Then try to predict the result on the import test.csv dataset

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_train='/Users/atul595525/Desktop/learning/Edureka_courses/Python_For_Data_Science/Module_15_Certification_Project_Python_Certification_Training/574_cert_proj_dataset_v3.0/train.csv'

data_test='/Users/atul595525/Desktop/learning/Edureka_courses/Python_For_Data_Science/Module_15_Certification_Project_Python_Certification_Training/574_cert_proj_dataset_v3.0/test.csv'

In [5]:
df_train=pd.read_csv(data_tain)

df_train.head(5)

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [42]:
df_train.shape

(990, 194)

In [43]:
print('\nUnique values of "id": {}'.format(df_train['id'].unique()))

Unique values of "id": [   1    2    3    5    6    8   10   11   14   15   17   18   20   21
   22   25   26   27   29   30   31   32   34   35   37   38   40   42
   43   45   48   49   50   54   55   56   58   60   61   63   64   66
   67   69   71   72   73   75   76   78   80   81   82   83   84   85
   87   88   92  100  101  103  106  107  108  109  115  116  118  120
  122  124  127  129  130  132  133  134  139  140  142  143  145  146
  148  149  152  153  155  160  163  164  165  166  167  168  169  171
  173  175  178  179  183  186  188  189  190  194  196  198  199  201
  202  203  204  206  211  212  214  215  216  217  218  219  224  225
  227  228  231  233  235  237  238  239  240  241  242  243  245  246
  247  248  249  252  253  256  257  258  259  260  262  263  265  267
  268  269  270  273  275  278  280  282  283  286  288  289  290  291
  294  298  302  303  304  306  307  309  310  311  314  315  317  319
  321  322  323  324  325  326  327  328  329  330  331  333  334  335
  336  338  339  340  341  342  344  345  348  349  350  354  355  356
  357  358  360  362  363  364  365  366  367  369  371  374  375  376
  377  379  380  382  383  386  387  388  389  390  392  393  394  396
  397  398  404  408  409  410  411  412  413  415  416  417  418  419
  420  423  425  426  427  428  430  431  433  435  436  437  438  440
  443  444  445  446  449  450  451  452  454  455  456  458  459  460
  461  462  463  464  466  467  468  469  470  475  478  481  482  485
  487  488  489  490  491  492  493  494  496  497  498  499  501  502
  505  506  508  510  511  513  514  516  517  519  520  521  522  523
  524  528  530  532  535  538  539  542  543  545  547  548  550  551
  552  553  556  558  559  561  562  563  564  566  568  569  570  571
  572  573  576  581  582  585  588  589  592  593  595  596  597  598
  600  601  603  605  606  609  610  614  615  616  618  619  620  621
  622  623  628  629  630  631  632  633  634  635  636  637  641  642
  645  646  647  649  651  652  654  656  657  660  661  662  663  664
  667  669  671  672  673  675  676  677  678  680  681  682  684  685
  689  692  693  694  695  697  698  700  704  706  709  710  711  712
  713  714  716  717  718  720  721  722  724  726  727  728  730  732
  733  737  738  740  741  742  745  747  748  749  752  753  754  755
  756  757  758  759  760  762  763  765  766  767  768  769  771  772
  774  776  777  778  779  784  785  787  788  789  792  793  794  796
  797  798  800  801  802  803  805  806  807  808  809  810  811  812
  813  815  816  821  822  823  824  825  826  827  828  831  837  838
  839  840  841  844  847  848  849  850  851  852  853  854  855  856
  858  859  860  861  862  863  864  865  866  867  868  869  870  871
  873  874  875  876  877  878  879  881  882  883  885  886  892  893
  894  896  897  898  899  900  901  904  906  907  908  910  911  912
  914  915  916  917  918  919  920  923  924  926  927  928  931  932
  933  934  936  937  938  939  942  944  948  949  951  952  954  955
  956  958  959  960  961  962  963  966  968  969  970  971  972  975
  976  978  979  981  983  985  987  989  990  992  993  994  995  996
  999 1000 1001 1002 1003 1004 1005 1006 1007 1010 1011 1013 1014 1016
 1017 1019 1021 1023 1024 1025 1027 1030 1031 1032 1034 1036 1037 1039
 1040 1041 1042 1046 1048 1049 1051 1052 1056 1059 1061 1062 1065 1066
 1072 1073 1076 1077 1080 1081 1083 1085 1087 1088 1089 1090 1093 1094
 1095 1096 1097 1098 1100 1101 1110 1112 1113 1117 1118 1119 1120 1121
 1123 1124 1125 1128 1130 1131 1132 1134 1135 1136 1142 1144 1145 1147
 1148 1152 1153 1154 1156 1157 1159 1160 1163 1165 1166 1167 1168 1169
 1170 1171 1172 1173 1174 1175 1176 1179 1180 1182 1184 1186 1187 1194
 1196 1197 1198 1200 1201 1202 1205 1206 1208 1210 1211 1213 1216 1217
 1218 1219 1220 1221 1222 1223 1225 1226 1228 1229 1231 1232 1235 1236
 1238 1239 1240 1242 1243 1244 1245 1249 1250 1251 1253 1254 1255 1256
 1257 1258 1262 1263 1265 1268 1269 1270 1271 1273 1275 1276 1277 1278
 1281 1282 1283 1284 1286 1287 1289 1291 1292 1294 1296 1299 1300 1301
 1302 1305 1308 1309 1310 1311 1312 1317 1319 1320 1322 1323 1324 1325
 1326 1327 1328 1329 1330 1335 1337 1339 1340 1341 1342 1344 1345 1346
 1347 1348 1349 1350 1352 1353 1355 1356 1358 1359 1360 1365 1366 1367
 1370 1372 1373 1374 1375 1377 1378 1379 1380 1381 1384 1386 1388 1390
 1391 1392 1393 1394 1395 1396 1398 1399 1402 1403 1405 1408 1410 1411
 1413 1414 1417 1419 1420 1423 1424 1425 1431 1432 1435 1436 1438 1440
 1441 1442 1443 1444 1446 1448 1449 1450 1452 1454 1457 1459 1460 1461
 1463 1467 1468 1469 1471 1472 1473 1474 1475 1476 1477 1479 1480 1482
 1483 1488 1491 1492 1494 1496 1499 1500 1501 1502 1504 1505 1506 1507
 1508 1509 1511 1512 1514 1515 1516 1518 1519 1520 1521 1523 1524 1525
 1527 1529 1530 1531 1532 1536 1538 1539 1541 1543 1544 1545 1547 1548
 1549 1550 1551 1552 1554 1555 1556 1557 1559 1561 1562 1563 1566 1568
 1569 1570 1571 1572 1574 1575 1578 1581 1582 1584]

In [6]:
df_test=pd.read_csv(data_test)

df_test.head(2)

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.0,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.0,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922

In [19]:
#2) Import the required classification libraries along with pandas, numpy, seaborn etc
#3) Then import the classifiers from them (Randomforest, SVM, NaiveBayes,
#DecisionTrees)

from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import LinearSVC

In [9]:
#4) After this create a function to encode the labels of the strings given in the dataset

df_train.head(2)

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.0,0.00293,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.0,0.00000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461

In [11]:
#4) After this create a function to encode the labels of the strings given in the dataset
#5) You can do the above step using label encoder. With this you are creating some labelsfrom train set as test set. 
#The test set we imported is for testing the best classifier accuracy once we choose it


# Encoding Data
labelencoder = LabelEncoder()
df_train["species"] = labelencoder.fit_transform(df_train["species"])
df_train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,3,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,49,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,65,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,94,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,84,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [13]:
# Defining dependent and Independent data
X = df_train.iloc[:, 2:]
Y = df_train["species"]

X.head(2)

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,0.001953,0.033203,...,0.007812,0.0,0.00293,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,0.000000,0.007812,...,0.000977,0.0,0.00000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461

In [21]:
Y.head(2)

0     3
1    49
Name: species, dtype: int64

In [14]:
#6) Then extract the values from train set by stratifying them and dividing it into 80:20
#ratio
#7) Now your X train, X test, Y train, Y test are ready.

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=5)

In [24]:
#8) We currently don’t know which is the best classifier on the dataset. So, we apply all 4 of them.


# 1. Random Forest Classifier
ran_class = RandomForestClassifier(n_estimators=5, random_state=0)
ran_class.fit(x_train, y_train)

predict_rf = ran_class.predict(x_test)
print("Radom Forest Accuracy Score : ",
      metrics.accuracy_score(predict_rf, y_test))

#print(metrics.classification_report(y_test, predict_rf))

Radom Forest Accuracy Score :  0.7171717171717171

In [25]:
# 2. Decision Tree Classifier
dec_class = DecisionTreeClassifier(random_state=0)
dec_class.fit(x_train, y_train)

predict_dt = dec_class.predict(x_test)
print("Decision Tree Accuracy Score : ",
      metrics.accuracy_score(predict_dt, y_test))

Decision Tree Accuracy Score :  0.5454545454545454

In [26]:
# 3. Naive Bayes Classifier
gn_class = GaussianNB()
gn_class.fit(x_train, y_train)

predict_gn = gn_class.predict(x_test)
print("Naive Bayes Accuracy Score : ",
      metrics.accuracy_score(predict_gn, y_test))

Naive Bayes Accuracy Score :  0.48484848484848486

In [27]:

# 4. SVM Classifier
svm_class = LinearSVC()
#model = svm.SVC(kernel='linear')
svm_class.fit(x_train, y_train)

predict_svm = svm_class.predict(x_test)
print("SVM Accuracy Score : ", metrics.accuracy_score(predict_svm, y_test))

SVM Accuracy Score :  0.7272727272727273

In [ ]:
# Best Classifier - SVM Classifier

In [37]:
# Reading testing data
test_data = pd.read_csv(data_test)
test_data.head()

test_data=test_data.drop(['id'], axis=1)

test_data.head()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,0.023438,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,0.023438,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,0.005859,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,0.001953,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,0.000000,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [38]:
predict_test = svm_class.predict(test_data)

In [39]:
# labelencoder.inverse_transform(predict_test) : Inverse the encoding
test_data["species"] = labelencoder.inverse_transform(predict_test)
test_data.head()

/Users/atul595525/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,species
0,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,0.023438,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,Quercus_Agrifolia
1,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,0.023438,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,Quercus_Afares
2,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,0.005859,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,Acer_Circinatum
3,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,0.001953,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,Ulmus_Bergmanniana
4,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,0.000000,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,Alnus_Viridis

In [40]:
# save predicted data
test_data.to_csv("Output_svm.csv", index=True)